body{
    font-family: 'Nunito Semibold', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
    color: darkgreen;
    height: 30px;
    width: auto;
    
}

#header .buttons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

h1{
    width: auto;
    flex: 0 0 auto;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#container {
    display: flex;
    border: 2px solid green;
    margin: 0;
    padding: 0;
}

#grid-container {
    display: grid;
    margin:0 auto;
}

#grid-container div{
    background: white;
    border: 1px solid lightgrey;
}